/*@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    margin: 0px;
    color: white;
    font-size: 20px;
    text-shadow: 5px 5px 10px black, 0 0 25px blue, 0 0 5px red;
    
}

.section-main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 7rem/*80pt*/;

    text-align: center;

    user-select: none;
}

@media (max-width: 800px){
    #text1 {
        font-size: 5rem;
    }
    #text2{
        font-size: 5rem;
    }
}